/* You should probably replace this with your own CSS */

.App {
    text-align: center;
}

.App-header {
    background-color: #404821;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(5px + 2vmin); */
}
body {
    background-color: hsl(72.3,37.1%,95%);
}
Nav.Link {
    margin-right: 10em;
}

.logo {
    max-width: 70%;
    height: auto;
}
.motto {
    color: whitesmoke;
}
.form-floating {
    width: 25rem;
    padding-bottom: 3px;
}
.side-by-side-buttons {
    display: flex;
    /* margin-top: 10px; */
    align-items: center;
}
.side-by-side-buttons a {
    /* margin-right: 10px; */
    color: #316ff6;
    text-decoration: none;
}
#forgot-password-btn {
    text-decoration: none;
}
#create-account-btn {
    text-decoration: none;
}
#login-btn {
    color: white;
    /* border: 1px solid black; */
    background-color: #0064e0;
    width: 8rem;
    padding: 6px 12px;
    text-decoration: none;
}
@media (max-width: 768px) {
    .form-floating {
        width: 100%;
    }
}
.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
