/* You should probably replace this with your own CSS */

.App {
    text-align: center;
}

.App-header {
    background-color: #404821;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
<<<<<<< HEAD
    background-color: hsl(72.3,37.1%,90%);
    background-color: hsl(72.3,37.1%,90%);
=======
    background-color: hsl(72.3, 37.1%, 90%);
    background-color: hsl(72.3, 37.1%, 90%);
>>>>>>> 19e193e0f2d357e5bb364a4455c5e926d8f18ed8
}
.container {
    max-width: 600px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px 20px 10px; /* Add padding to create space around the form */
}
.container-list {
    max-width: 1175px; /* Set a maximum width for the container */
    min-width: 750px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px 20px 10px; /* Add padding to create space around the form */
}

Nav.Link {
    margin-right: 10em;
}

.logo {
    max-width: 70%;
    height: auto;
}
.motto {
    color: whitesmoke;
}
.terms {
    display: block;
    flex-direction: column;
    align-items: center;
}
.form-floating {
    width: 20rem;
}
.side-by-side-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-by-side-buttons a {
    color: #316ff6;
    text-decoration: none;
}
#forgot-password-btn {
    text-decoration: none;
}
#create-account-btn {
    text-decoration: none;
}
#account-btn {
    color: white;
    background-color: #0064e0;
    width: 7rem;
    padding: 3px 12px;
    text-decoration: none;
}
@media (max-width: 768px) {
    .form-floating {
        width: 100%;
    }
}
.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-shadow {
<<<<<<< HEAD
    box-shadow: 0px 5px 5px -5px hsl(72.3,37.1%,80%),
                5px 5px 5px -5px hsl(72.3,37.1%,80%),
                -5px 5px 5px -5px hsl(72.3,37.1%,80%);
    border-radius: 5px;
}
.custom-shadow1 {
    background-color: hsl(72.3,37.1%,99%);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5), /* Left */
                5px 5px 10px -5px rgba(0, 0, 0, 0.5), /* Bottom */
                -5px 5px 15px -5px rgba(0, 0, 0, 0.5); /* Right */
=======
    box-shadow: 0px 5px 5px -5px hsl(72.3, 37.1%, 80%),
        5px 5px 5px -5px hsl(72.3, 37.1%, 80%),
        -5px 5px 5px -5px hsl(72.3, 37.1%, 80%);
    border-radius: 5px;
}
.custom-shadow1 {
    background-color: hsl(72.3, 37.1%, 99%);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5),
        /* Left */ 5px 5px 10px -5px rgba(0, 0, 0, 0.5),
        /* Bottom */ -5px 5px 15px -5px rgba(0, 0, 0, 0.5); /* Right */
>>>>>>> 19e193e0f2d357e5bb364a4455c5e926d8f18ed8
    padding: 20px;
    border-radius: 10px;
}
.terms {
    margin-top: 20px;
    text-align: center;
}
.terms a {
    color: #316ff6;
    text-decoration: none;
    margin: 0 5px;
}
